@import "site.css";

:root {
  --background-image:  url("noise.png");
  --background-repeat: repeat;

  --font-family: Fraunces;
  --font-variation-settings-display: "WONK" 1;
  --text-shadow-offset-y:    var(--size-1);
  --text-shadow-blur-radius: var(--size-2);
  --text-shadow-color:       var(--transparent-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-shadow-offset-y: var(--size-negative-1);
    --text-shadow-color:    var(--transparent-black);
  }
}

@media (prefers-contrast: more) {
  :root {
    --text-shadow-offset-y:    0;
    --text-shadow-blur-radius: 0;
    --text-shadow-color:       var(--transparent);
  }
}
