:root {
  --black:  #000;
  --grey-9: #111827;
  --grey-8: #1f2937;
  --grey-7: #374151;
  --grey-6: #4b5563;
  --grey-5: #6b7280;
  --grey-4: #9ca3af;
  --grey-3: #d1d5db;
  --grey-2: #e5e7eb;
  --grey-1: #f3f4f6;
  --grey-0: #f9fafb;
  --white:  #fff;
  
  --transparent:       rgb(0   0   0   / 0% );
  --transparent-black: rgb(0   0   0   / 50%);
  --transparent-white: rgb(255 255 255 / 50%);

  --size-1: .0625rem;
  --size-2: .125rem;
  --size-negative-1: -0.0625rem;
  --size-negative-2: -0.125rem;  

  --background-color:         var(--white);
  --background-color-inverse: var(--grey-9);

  --font-family: sans-serif;
  --text-color:         var(--grey-6);
  --text-color-inverse: var(--grey-3);
  --text-shadow-offset-x:    0;
  --text-shadow-offset-y:    0;
  --text-shadow-blur-radius: 0;
  --text-shadow-color:       var(--transparent);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin:  0;
  border:  0;
  padding: 0;
  background: transparent;
  background-repeat: no-repeat;
  font: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

html {
  font-size: 100%;
  -moz-tab-size: 4;
       tab-size: 4;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: var(--background-repeat);
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-family);
  font-variation-settings: var(--font-variation-settings);
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
  color: var(--text-color);
  text-shadow: var(--text-shadow-offset-x) 
               var(--text-shadow-offset-y) 
               var(--text-shadow-blur-radius) 
               var(--text-shadow-color);
  cursor: default;
}

::-moz-selection {
  background: var(--background-color-inverse);
  color: var(--text-color-inverse);
  text-shadow: none;
}

::selection {
  background: var(--background-color-inverse);
  color: var(--text-color-inverse);
  text-shadow: none;
}

a {
  text-decoration-skip-ink: auto;
}

strong {
  font-weight: bolder;
}

h2 {
  font-family: var(--font-family-display);
}

.logotype {
  font-variation-settings: var(--font-variation-settings-display);
}

.link-button,
.faux-button,
.button-group {
  display: inline-flex;
  align-items: center;
  min-width:  3rem;
  min-height: 3rem;
}

.link-button,
.faux-button {
  padding: .75rem 1rem;
  column-gap: .5rem;
  row-gap:    .25rem;
}

.w--current {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color:         var(--grey-9);
    --background-color-inverse: var(--white);

    --text-color:         var(--grey-3);
    --text-color-inverse: var(--grey-6);
  }
}

@media (prefers-contrast: more) {
  :root {
    --background-color:         var(--white);
    --background-color-inverse: var(--black);
  
    --text-color:         var(--black);
    --text-color-inverse: var(--white);
  }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --background-color:         var(--black);
    --background-color-inverse: var(--white);
  
    --text-color:         var(--white);
    --text-color-inverse: var(--black);
  }
}
