:root {
  --black:            #000;
  --grey-9:           #111827;
  --grey-8:           #1f2937;
  --grey-7:           #374151;
  --grey-6:           #4b5563;
  --grey-5:           #6b7280;
  --grey-4:           #9ca3af;
  --grey-3:           #d1d5db;
  --grey-2:           #e5e7eb;
  --grey-1:           #f3f4f6;
  --grey-0:           #f9fafb;
  --white:            #fff;
  --background-color: var(--white);
  --text-color:       var(--grey-6);
  --font-family:      sans-serif; 
}

*,
::before,
::after,
h1,
h2,
h4 {
  margin: 0;
  font-weight: inherit;
  font-size:   inherit;
  line-height: inherit;
}

*,
::before,
::after {
  box-sizing: border-box;
  background: transparent;
  font-style:  inherit;
  font-family: inherit;
  color:       inherit;
}

html { font-size: 100%; }

body {
  min-height: 100vh;
  background-color:  var(--background-color);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-family);
  color: var(--text-color);
}

.w-richtext::before,
.w-richtext::after { display: none; }
