:root {
  --black:            #000;
  --grey-9:           #111827;
  --grey-8:           #1f2937;
  --grey-7:           #374151;
  --grey-6:           #4b5563;
  --grey-5:           #6b7280;
  --grey-4:           #9ca3af;
  --grey-3:           #d1d5db;
  --grey-2:           #e5e7eb;
  --grey-1:           #f3f4f6;
  --grey-0:           #f9fafb;
  --white:            #fff;
  --background-color: var(--white);
  --text-color:       var(--grey-6);
  --font-family:      sans-serif; 
}

*,
::before,
::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
figure,
figcaption { margin: 0; }

*,
::before,
::after,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size:   inherit;
  line-height: inherit;
}

*,
::before,
::after,
ul,
ol,
blockquote { padding: 0; }

*,
::before,
::after,
blockquote { border: 0; }

*,
::before,
::after {
  background:     transparent;
  font-style:     inherit;
  font-family:    inherit;
  vertical-align: inherit;
  color:          inherit;
}

::before,
::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background:     transparent;
}

html { font-size: 100%; }

body,
figure,
.w-richtext figure.w-richtext-figure-type-image,
.w-richtext figure.w-richtext-align-fullwidth,
.w-richtext figure[data-rt-type="image"],
.spread,
.site-main {
  display: flex;
}

body,
figure,
.w-richtext figure.w-richtext-figure-type-image,
.w-richtext figure.w-richtext-align-fullwidth,
.w-richtext figure[data-rt-type="image"],
.spread,
.site-main {
  flex-direction: column;
}

body,
sup { vertical-align: baseline; }

body,
blockquote { line-height: 1.5; }

body {
  min-height: 100vh;
  background-color:  var(--background-color);
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--text-color);
}

b,
strong { font-weight: bolder; }

em { font-style: italic; }

blockquote { font-size: 1.5em; }

ul,
ol { list-style: none; }

.w-richtext::before,
.w-richtext::after { display: none; }

.w-richtext figure { max-width: 50em; }

.w-richtext figure.w-richtext-align-floatleft { margin-right: 2rem; }

.w-richtext figure.w-richtext-align-floatright { margin-left: 2rem; }

.logotype {}

.prose p,
.prose li { line-height: 1.75; }

.faux-button,
.link-button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
     row-gap: .25rem;
  padding: .75rem 1rem;
  min-width:  3rem;
  min-height: 3rem;
}

.region {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container {
  margin-right: auto;
  margin-left:  auto;
  padding-right: 2rem;
  padding-left:  2rem;
  max-width: 120rem;
}

.flush {
  margin-right: -1rem;
  margin-left:  -1rem;
}

.spread { row-gap: 1.5rem; }

.site-main { justify-content: center; }

 @media only screen and (min-width: 60em) {
  .spread {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    column-gap: 2rem;
  }
}
