@import "tokens.css";

:root {
  --background-image:  url("noise.png");
  --background-repeat: repeat;

  --font-family: Fraunces;
  --text-shadow-offset-y:    var(--size-1);
  --text-shadow-blur-radius: var(--size-2);
  --text-shadow-color:       var(--transparent-white);
}

.theme-dark {
  --text-shadow-offset-y: var(--size-negative-1);
  --text-shadow-color:    var(--transparent-black);
}

@import "site.css";
