<style>
  @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,WONK@0,9..144,400,0;0,9..144,600,0;1,9..144,400,0;1,9..144,400,1;1,9..144,600,0&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    font: inherit;
    vertical-align: inherit;
    text-decoration: inherit;
    color: inherit;
  }

  html {
    font: normal 400 100%/1.5 Fraunces, Georgia, serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    overflow-x: hidden;
  }

  html,
  h6,
  .h6 {
    font-variation-settings: "opsz" 16, "SOFT" 0, "WONK" 0;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  a {
    text-decoration-skip-ink: auto;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: monospace, monospace;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  details,
  main,
  hr {
    display: block;
  }

  h1,
  .h1 {
    font-variation-settings: "opsz" 48, "SOFT" 0, "WONK" 0;
  }

  h2,
  .h2 {
    font-variation-settings: "opsz" 36, "SOFT" 0, "WONK" 0;
  }

  h3,
  .h3 {
    font-variation-settings: "opsz" 24, "SOFT" 0, "WONK" 0;
  }

  h4,
  .h4 {
    font-variation-settings: "opsz" 20, "SOFT" 0, "WONK" 0;
  }

  h5,
  .h5 {
    font-variation-settings: "opsz" 18, "SOFT" 0, "WONK" 0;
  }

  blockquote,
  .brand {
    font-variation-settings: "opsz" 24, "SOFT" 0, "WONK" 1;
  }

  ul,
  li {
    list-style: none;
  }

  li::before {
    float: left;
    content: "\200B";
  }

  summary {
    display: list-item;
  }

  pre {
    overflow: auto;
  }

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  iframe, 
  img,
  input,
  video,
  select,
  textarea {
    max-width: 100%;
    height: auto;
  }

  svg:not([fill]) {
    fill: currentColor;
  }

  hr,
  input,
  button {
    overflow: visible;
  }

  select,
  button {
    text-transform: none;
  }

  hr {
    box-sizing: content-box;
    margin: 1.5em 0;
    border-top: 1px solid #ccc;
    height: 0;
  }

  table {
    border-collapse: collapse;
    text-indent: 0;
  }

  legend {
    display: table;
    max-width: 100%;
    white-space: normal;
  }

  textarea {
    overflow: auto;
    resize: vertical;
  }

  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }

  button {
    -webkit-appearance: button;
  }

  button::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  .hidden,
  [hidden] {
    display: none !important;
  }

  .w--current {
    pointer-events: none;
  }

  .visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
  }

  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    position: static;
    margin: 0;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: inherit;
  }

  .material-symbols-sharp {
    font-size: inherit;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .jumbo .material-symbols-sharp {
    font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 320;    
  }

  @media only screen and (min-width: 30em) {
    h1 {
      font-variation-settings: "opsz" 56, "SOFT" 0, "WONK" 0;
    }
    
    h2 {
      font-variation-settings: "opsz" 40, "SOFT" 0, "WONK" 0;
    }
  }

  @media only screen and (min-width: 40em) {
    h1 {
      font-variation-settings: "opsz" 64, "SOFT" 0, "WONK" 0;
    }
    
    h2 {
      font-variation-settings: "opsz" 48, "SOFT" 0, "WONK" 0;
    }
  }
  
  @media only screen and (min-width: 60em) {
    h1 {
      font-variation-settings: "opsz" 72, "SOFT" 0, "WONK" 0;
    }
  }

  @media only screen and (min-width: 80em) {
    h1 {
      font-variation-settings: "opsz" 80, "SOFT" 0, "WONK" 0;
    }
  }
  
  @media only screen and (min-width: 120em) {
    h1 {
      font-variation-settings: "opsz" 96, "SOFT" 0, "WONK" 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-delay: 0s !important;
      transition-duration: 0s !important;
    }
  }

  @media print {
    *,
    ::before,
    ::after {
      background: #fff !important;
      box-shadow: none !important;
      color: #000 !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]::after {
      content: " (" attr(href) ")";
    }

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }

    abbr[title]::after {
      content: " (" attr(title) ")";
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      orphans: 3;
      widows: 3;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    dt,
    caption,
    legend {
      page-break-after: avoid;
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote,
    tr,
    img {
      page-break-inside: avoid;
    }

    pre,
    blockquote {
      border: 1px solid #999;
    }
  }
<style>
