*,
::before,
::after {
  box-sizing: border-box;
  margin:  0;
  border:  0;
  padding: 0;
  background: transparent;
  background-repeat: no-repeat;
  font: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

html {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: var(--background-repeat);
  font-size: 100%;
  line-height: 1.5;
  font-family: var(--html-font-family);
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  overflow-wrap: break-word;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-tab-size: 4;
       tab-size: 4;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: var(--text-color);
  text-shadow: var(--text-shadow-offset-x) 
               var(--text-shadow-offset-y) 
               var(--text-shadow-blur-radius) 
               var(--text-shadow-color);
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

::-moz-selection {
  background: var(--background-color-inverse);
  color: var(--text-color-inverse);
  text-shadow: none;
}

::selection {
  background: var(--background-color-inverse);
  color: var(--text-color-inverse);
  text-shadow: none;
}

strong {
  font-weight: bolder;
}

h2 {
  font-family: var(--font-family-display);
}
